<html>

    <body>
        <h1>Our Recommendations:</h1>
        {{#each movies}}
        <div style="float:left;width:120px;height:180px;">
            <img src="{{img}}" title="{{title}}" style="width:120px;height:180px;"/>
            <br>
        </div>
        {{/each}}
        
    </body>
</html>